%header
  = render 'layouts/global-header'
.topMain
  %section.topVisual
    = render 'visual'
  %section.topReason
    = render 'reason'
  %section.topCategory
    = render 'category'
%aside
  = render 'layouts/global-aside'
%footer
  = render 'layouts/global-footer'