.wrapper
  .wrapper__top
    = link_to '#', class: 'wrapper__top__icon' do 
      = image_tag asset_path('logo.png'), width: '140', alt: 'FURIMAロゴ'
    .wrapper__top__searchBox
      %input{ type: 'text', class: 'wrapper__top__searchBox__input', placeholder: 'キーワードから探す' }
      = link_to '#', class: 'wrapper__top__searchBox__icon' do
        = image_tag asset_path('icon-search 1.png'), width: '19', alt: '検索ボタン'

  .wrapper__bottom
    %ul
      -# %li
      -#   = link_to '#', class: 'wrapper__bottom--left', id: 'category-search-btn' do
      -#     カテゴリー
      -# %li
      -#   = link_to '#', class: 'wrapper__bottom--left', id: 'brand-search-btn' do
      -#     ブランド
      %li
        = link_to '商品一覧', new_item_path, class: 'wrapper__bottom--left', id: 'brand-search-btn'
    %ul
      %li
        = link_to '#', class: 'wrapper__bottom--right', id: 'username-btn' do
          = current_user.name
      %li
        = link_to '#', class: 'wrapper__bottom--right', id: 'login-btn' do
          ログイン
      %li
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'wrapper__bottom--right', id: 'logout-btn'
      %li
        = link_to '#', class: 'wrapper__bottom--right', id: 'signup-btn' do
          新規会員登録
      %li
        = link_to edit_user_path(current_user), class: 'wrapper__bottom--right', id: 'edit-btn' do
          編集
